:root {
    --light-yellow: #fff7e9;
    --dark-yellow: #e99f1f;
    --blue: #4285f4;
    --green: #addcbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f3f4;
    /* font-family: "PT Sans", sans-serif; */
}

.section-spacer {
    padding: 100px 0;
}

.section-title {
    font-weight: bold;
    font-size: 4rem;
}

.section-header {
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.content {
    max-width: 90%;
    margin: auto;
}

#fontt {
    /* font-family: "PT Sans", sans-serif; */
}

header {
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0ddde;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
}

@media (max-width: 767px) {
    header {
        padding: 15px 20px;
    }

    header ul {
        display: none;
    }

    header .header-cta {
        display: none;
    }

    .content {
        max-width: none;
    }

    .section-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    header .menubar {
        display: none;
    }
}

header ul li {
    margin: 0;
}

header ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

header .header-cta {
    background: #4285f4;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

header .menubar {
    font-size: 25px;
    margin-right: 20px;
}

nav {
    display: none;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(66, 133, 240, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

nav .close {
    color: #fff;
    float: right;
    padding: 20px 40px 15px;
    font-size: 20px;
    cursor: pointer;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin-top: 50px;
}

nav ul li {
    padding: 0;
    cursor: pointer;
}

nav ul li a {
    display: block;
    margin: 5px 20px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    color: #4285F4;
    background: #fff;
}

/* intro start */

section.intro {
    position: relative;
}

.scribbles {
    position: absolute;
    width: 14rem;
}

.scribbles.left {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scribbles.right {
    right: 0;
    top: 0;
}

.scribbles.agenda-scribble {
    bottom: 0;
    right: 0;
}

section.intro .content {
    width: 60%;
    margin: 4rem auto;
    padding: 1rem 0;
    text-align: center;
}

.intro .content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
    margin-bottom: 2rem;
}

.intro .content p {
    /* font-weight: 500; */
    font-size: 1.2rem;
}

@media only screen and (max-width: 768px) {
    section.intro {
        border: 1px solid rgb(239, 233, 233);
    }

    section.intro .content {
        width: 80%;
    }

    .scribbles {
        width: 5rem;
        height: 5rem;
    }

    .scribbles.left {
        left: 0;
        bottom: 0;
        top: auto;
        transform: translateY(0px);
    }
    
    .scribbles.right {
        right: 0;
        top: 0;
    }

    .intro .content p {
        font-size: 1rem;
    }

    .intro .content h1 {
        font-size: 2rem;
    }
}

/* intro ends */

/* program text start */

section.programs {
    margin: 3rem 0;
    position: relative;
}

.programs .vector-blocks {
    position: absolute;
    right: 0;
    bottom: 0;
}

.programs .content {
    width: 80%;
    margin: auto;
}

.programs .content > div {
    margin: 3rem 0;
}

.programs h5 {
    font-size: 1.65rem;
    font-weight: bold;
}

.programs h6 {
    font-size: 1.5rem;
    font-weight: bold;
}

.programs p,
.programs li {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 500;
    font-size: 1.45rem;
}

@media only screen and (max-width: 768px) {

    section.programs {
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .programs .content {
        width: 90%;
    }

    .programs h5 {
        font-size: 1.55rem;
        font-weight: bold;
    }

    .programs p,
    .programs li {
        text-align: left;
        text-justify: auto;
        font-size: 1.35rem;
    }

    .programs .content > div {
        /* margin: 5rem 0; */
    }

    .content > div {
        margin-bottom: 5rem;
    }

    .demo h5,
    .functionality h5,
    .game h5,
    .challenge h5 {
        text-align: center;
    }
}

.demo__img {
    width: 100%;
}

/* program text end */

/* Start of footer section */

.logo-xsm {
    max-width: 50px;
}

.logo-sm {
    max-width: 200px;
}

.mb-10 {
    margin-bottom: 10px;
}

footer,
.testimonials {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.footer-widget a {
    color: #fff;
    text-decoration: none;
}

.footer-widget ul {
    list-style-type: none;
    padding: 0;
}

.footer-widget ul li {
    margin: 10px 0;
}

.footer-widget ul li:first-of-type {
    margin-top: 0;
}

.footer-widget ul li a {
    color: #fff;
}

.footer-widget ul li a:hover {
    text-decoration: none;
    color: #bbb;
}

.footer-widget__title {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}

.footer-section>.container-fluid {
    max-width: 90%;
}

.social-list__inline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list__inline li {}

.social-list__inline li {
    margin-right: 15px;
}

.social-list__inline li:last-of-type {
    margin: 0;
}

.social-list__inline li a {
    color: #1B2733;
    font-size: 22px;
    margin-left: 8px;
}

/* End of footer section */