:root {
    --light-yellow: #fff7e9;
    --dark-yellow: #e99f1f;
    --blue: #4285f4;
    --green: #addcbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f3f4;
    /* font-family: 'Google Sans'; */
}

.section-spacer {
    padding: 100px 0;
}

.section-title {
    font-weight: bold;
    font-size: 4rem;
}

.section-header {
    margin-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
}

.content {
    max-width: 90%;
    margin: auto;
}

header {
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0ddde;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
}

@media (max-width: 767px) {
    header {
        padding: 15px 20px;
    }

    header ul {
        display: none;
    }

    header .header-cta {
        display: none;
    }

    .content {
        max-width: none;
    }

    .section-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    header .menubar {
        display: none;
    }
}

header ul li {
    margin: 0;
}

header ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

header .header-cta {
    background: #4285f4;
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

header .menubar {
    font-size: 25px;
    margin-right: 20px;
}

nav {
    display: none;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(66, 133, 240, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

nav .close {
    color: #fff;
    float: right;
    padding: 20px 40px 15px;
    font-size: 20px;
    cursor: pointer;
}

nav ul {
    padding: 0;
    list-style-type: none;
    margin-top: 50px;
}

nav ul li {
    padding: 0;
    cursor: pointer;
}

nav ul li a {
    display: block;
    margin: 5px 20px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    color: #4285F4;
    background: #fff;
}

/* hero styling start */

#hero {
    margin: 2rem 0;
    position: relative;
}

#hero .content h5 {
    font-size: 3.7rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
}

#hero .content p {
    text-align: justify;
    text-justify: inter-word;
}

#hero .content {
    display: grid;
    column-gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
    margin: auto;
    padding: 3rem 8rem;
    position: relative;
}

#hero .content * {
    /* border: 1px solid; */
}

#hero .content .date {
    align-self: self-end;
    background-color: var(--green);
    font-weight: bold;
    height: 3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 12rem;
}

#hero .content .register {
    background-color: var(--blue);
    font-weight: bold;
    height: 3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .register a {
    color: #fff;
    text-decoration: none;
}

#hero .content h5:first-child {
    grid-column: 1 / 3;
}

#hero .content h5:nth-of-type(2) {
    grid-column: 1 / -1;
}

#hero .content p:nth-of-type(2) {
    grid-column: span 3;
    grid-row: span 2;
}

.avatar.design {
    position: absolute;
    left: 0;
    top: 0;
}

.avatar.dev {
    position: absolute;
    right: 0;
    top: 0;
}

.avatar.mentor {
    position: absolute;
    left: 0;
    bottom: 0;
}

.avatar.nocode {
    position: absolute;
    right: 0;
    bottom: 0;
}

#hero .scribbles {
    width: 6rem;
    height: 6rem;
    position: absolute;
}

.scribbles.upper-left {
    top: 0;
    left: 5%;
}

.scribbles.upper-right {
    top: 0;
    right: 5%;
}

.scribbles.bottom-right {
    width: 10rem;
    height: 10rem;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 1352px) {
    #hero .content {
        width: 80%;
    }

    #hero .content .date {
        grid-column: 3 / 5;
    }
}

@media only screen and (max-width: 1000px) {
    
    #hero .content {
        width: 90%;
    }

    #hero .content .date {
        margin-left: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    
    #hero .content {
        padding: 10rem 0;
        column-gap: 0.5em;
    }

    #hero .content .date {
        grid-column: 3 / 5;
        margin-left: 5rem;
    }

    #hero .content p:nth-of-type(2) {
        grid-column: 1 / -1;
        /* grid-row: span 2; */
    }
}

@media only screen and (max-width: 500px) {

    #hero .content h5 {
        font-size: 2.5rem;
    }

    #hero .content h5:first-child {
        grid-column: 1 / 3;
    }

    #hero .content p {
        font-size: 0.9rem;
    }

    #hero .content {
        column-gap: 0.5em;
    }

    #hero .content .date {
        grid-column: span 2;
        font-size: 0.8rem;
        margin-left: 3rem;
    }

    #hero .content p:nth-of-type(2) {
        grid-row: span 1;
    }

    #hero .content .register {
        align-self: start;
        grid-column: span 2;
    }

}

/* hero styling end */

/* event info styles */

section.event-info {
    margin: 3rem 0;
    padding: 3rem 0;
}

.event-info .scribbles {
    position: absolute;
}

.event-info .content {
    width: 80%;
    margin: auto;
    border: 1px solid var(--dark-yellow);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--light-yellow);
    padding: 1.5em;
}

.event {
    display: flex;
    gap: 1em;
    font-weight: 600;
    padding: 1em;
}

.event i {
    color: var(--dark-yellow);
}

.event h5 {
    font-weight: 700;
}

.event h6 {
    font-size: 1.15rem;
}

@media only screen and (max-width: 768px) {
    .event-info .content {
        grid-template-columns: 1fr;
        width: 90%;
    }
}

/* event info styles end */

/* page content start */

section.hackathon-details {
    margin: 3rem 0;
    padding: 3rem 0;
}

.hackathon-details .content {
    width: 80%;
    margin: auto;
}

.hackathon-details .content div {
    margin: 3rem 0;
}

.hackathon-details h5 {
    font-size: 1.65rem;
    font-weight: bold;
}

.hackathon-details p,
.hackathon-details li {
    text-align: justify;
    text-justify: inter-word;
    font-weight: 500;
    font-size: 1.45rem;
}

@media only screen and (max-width: 768px) {

    section.hackathon-details {
        margin: 1rem 0;
        padding: 1rem 0;
    }

    .hackathon-details .content {
        width: 90%;
    }

    .hackathon-details h5 {
        font-size: 1.55rem;
        font-weight: bold;
    }

    .hackathon-details p,
    .hackathon-details li {
        text-align: left;
        text-justify: auto;
        font-size: 1.35rem;
    }

    .hackathon-details .content div {
        margin: 1.5rem 0;
    }
}

/* page content end */

/* judges and mentors start */

.judges-mentors .content {
    width: 80%;
}

.speaker,
.judges,
.mentors,
.sponsors {
    margin: 2rem 0;
}

.speaker *,
.judges *,
.mentors * {
    /* border: 1px solid; */
}

.judges-mentors h5 {
    font-size: 1.6rem;
}

.judges-mentors h6 {
    font-size: 1.5rem;
}

.judges-details,
.mentors-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.speaker-card,
.judges-card,
.mentors-card,
.sponsors-card {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: 1rem 0;
}

.speaker-card img,
.judges-card img,
.mentors-card img {
    width: 10rem;
}

.sponsors-card img {
    width: 4rem;
}

.speaker-text p,
.judges-text p,
.mentors-text p {
    margin: 0;
    font-size: 1.4rem;
}

.sponsors-card p {
    margin: 0;
    font-size: 1.15rem;
}

.speaker-text p:nth-child(2),
.judges-text p:nth-child(2),
.mentors-text p:nth-child(2) {
    font-style: italic;
}

.sponsors-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

@media only screen and (max-width: 768px) {

    .judges-mentors .content {
        width: 80%;
    }

    .judges-details,
    .mentors-details {
        grid-template-columns: 1fr;
    }

    .sponsors-details {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }

    .speaker-card img,
    .judges-card img,
    .mentors-card img {
        width: 6rem;
    }

    .speaker-text p,
    .judges-text p,
    .mentors-text p {
        font-size: 1.2rem;
    }
}

/* judges and mentors end */

/* Start of footer section */

.logo-xsm {
    max-width: 50px;
}

.logo-sm {
    max-width: 200px;
}

.mb-10 {
    margin-bottom: 10px;
}

footer,
.testimonials {
    background-color: #000;
    color: #fff;
    padding: 40px 0;
}

.footer-widget a {
    color: #fff;
    text-decoration: none;
}

.footer-widget ul {
    list-style-type: none;
    padding: 0;
}

.footer-widget ul li {
    margin: 10px 0;
}

.footer-widget ul li:first-of-type {
    margin-top: 0;
}

.footer-widget ul li a {
    color: #fff;
}

.footer-widget ul li a:hover {
    text-decoration: none;
    color: #bbb;
}

.footer-widget__title {
    margin-bottom: 15px;
    font-size: 18px;
    color: #fff;
}

.footer-section>.container-fluid {
    max-width: 90%;
}

.social-list__inline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list__inline li {}

.social-list__inline li {
    margin-right: 15px;
}

.social-list__inline li:last-of-type {
    margin: 0;
}

.social-list__inline li a {
    color: #1B2733;
    font-size: 22px;
    margin-left: 8px;
}

/* End of footer section */