.head-section {
  background-image: url('../images/open-hack-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.head-section .title {
  text-shadow: 1px 1px black;
  font-weight: 700;
}

section header.section-header {
  padding-right: 30px;
  padding-left: 30px;
}

section header.section-header .buttons  button {
  padding: 15px 50px;
}
section.segment {
  max-height: 60vh;
  height: 500px;
  flex-direction: row;
}

section.segment > div {
  width: 50%;
  display: inline-block;
}

section.segment-right {
  flex-direction: row-reverse;
}

section.segment p {
  margin: auto;
}

section.segment > * {
  flex: 1;
}

section.segment .text {
  display: flex;
  align-items: center;
  padding: 50px;
}

section.segment .image svg {
  height: 70%;
  padding: 30px;
}